# fly.toml app configuration file generated for runeterra-api on 2025-12-29T10:33:39+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'runeterra-api'
primary_region = 'sin'

[build]

[env]
  FRONTEND_URL = 'https://BnnChamploo.github.io'
  GITHUB_PAGES_URL = 'https://BnnChamploo.github.io/runeterra'
  NODE_ENV = 'production'
  PORT = '3001'
  FLY_VOLUME_PATH = '/app/data'

[[mounts]]
  source = 'runeterra_data'
  destination = '/app/data'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 3001

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
